* {
    box-sizing: border-box;
}

body {
    font-family: 'Mada', sans-serif;
}

.timer-display {
    margin: auto;
    border: 1px solid grey;
    text-align: center;
    padding: 1rem;
    box-shadow: 4px 4px 2px grey;
}

.timer-display__text {
    font-size: 4.5rem;
    display: inline-block;
}

.task-form {
    margin: 2rem auto;
}

.task-form__input {
    width: 100%;
    height: 2.25rem;
    padding: 0.5rem;
    font-family: inherit;
    border: 1px solid grey;
}

.task-form__textarea {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    font-family: inherit;
    border: 1px solid grey;
}

.task-form__button-group {
    display: flex;
    justify-content: space-between;
}

.task-form__button {
    font-family: inherit;
    font-size: inherit;
    line-height: 2rem;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 5px;
}

.task-form__button:hover {
    background-color: lightgrey;
}

.button-short {
    width: 49.5%;
}

.button-wide {
    width: 100%;
}

.task-form__spacebox {
    margin: 0.5rem 0; 
}

.finished-tasks {
    width: 100%;
}

.finished-tasks__item {
    width: 100%;
    font-size: 1.25rem;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: whitesmoke;
    border: 1px solid grey;
    box-shadow: 4px 4px 2px grey;
}

.finished-tasks__item:hover {
    background-color: lightgrey;
}

.finished-tasks__item span {
    margin: 0 0.5rem 0 0;
}

.finished-tasks__link {
    color: black;
    text-decoration: none;
}

.finished-tasks__link-export {
    text-align: center;
}

.finished-tasks__display-start-end {
    display: none;
}

@media(min-width: 970px) {
    .timer-display {
        width: 970px;
    }

    .task-form {
        width: 970px;
    }

    .button-wide,
    .button-short {
        width: 6rem;
    }

    .finished-tasks {
        width: 970px;
        margin: 2rem auto;
    }

    .finished-tasks__display-start-end {
        display: inline;
    }
}