* {
    box-sizing: border-box;
}

body {
    font-family: 'Mada', sans-serif;
}

.timer-display {
    width: 970px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.timer-display__text {
    font-size: 4.5rem;
    display: inline-block;
}

.task-form {
    width: 970px;
    margin: 2rem auto;
}

.task-form__45area {
    display: inline-block;
    box-sizing: border-box;
    width: 47.5%;
    padding: 0 0.5rem 0 0;
}

.task-form__10area {
    display: inline-block;
    width: 5%;
    box-sizing: border-box;
}

.task-form__input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.task-form__button {
    width: 100%;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
}

.finished-tasks {
    width: 970px;
    margin: 2rem auto;
}

.finished-tasks__headers {
    width: 100%;
    font-size: 1.25rem;
    box-sizing: border-box;
}

.finished-tasks__column {
    width: 25%;
    padding: 0.25rem;
    display: inline-block;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.finished-tasks__content {
    background-color: white;
    border-bottom: 1px solid black;
}